@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Sans Pro';
    src: url('../fonts/TrajanSansPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Proxima Nova', Arial, sans-serif;
}

h1 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
  
}

.light-text {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
}

.thin-text {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 100;
}

.trajan-text {
    font-family: 'Trajan Sans Pro', serif;
}

h3 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
}
.copyright p{
    font-size: 18px !important;
    text-align: center;
    margin-left: 60px;
}
.copyright{
    width: 100%;
    align-items: flex-end;
}
.terms{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 50px;
}
.terms p{
    font-size: 18px !important;
}
.spacing
{
    margin: 80px 0 50px 0;
}

.hero-img {
    background: url('../img/hero-img2.png');
    width: 100%;
    height: 1020px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    /* Enable flexbox */
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    padding: 10px;
}

.hero-img h3 {
    font-size: 5rem;
    /* 80px / 16px = 5rem */
    font-weight: 200;
    text-align: center;
}

.hero-img h1 {
    font-size: 6.25rem;
    /* 100px / 16px = 6.25rem */
    font-weight: 500;
    text-align: center;
}

.hero-img p {
    font-size: 1.25rem;
    /* 20px / 16px = 1.25rem */
    font-weight: 200;
    color: #FFF5E8;
    text-align: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .hero-img h3 {
        font-size: 4rem;
        /* Adjust font size for h3 on smaller screens */
    }

    .hero-img h1 {
        font-size: 5rem;
        /* Adjust font size for h1 on smaller screens */
    }

    .hero-img p {
        font-size: 1rem;
        /* Adjust font size for p on smaller screens */
    }
}

@media (max-width: 480px) {
    .hero-img h3 {
        font-size: 3.5rem;
        /* Adjust font size for h3 on very small screens */
    }

    .hero-img h1 {
        font-size: 4.5rem;
        /* Adjust font size for h1 on very small screens */
    }

    .hero-img p {
        font-size: 0.9rem;
        /* Adjust font size for p on very small screens */
    }
}

.gradient-btn {
    background: linear-gradient(125deg, rgba(249, 115, 22, 0.9) 0%,
            rgba(249, 115, 22, 0.85) 35%,
            rgba(139, 92, 246, 0.8) 100%);
    color: white;
    font-size: 14px;
    font-weight: 300;
    border: none;
    padding: 5px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-btn:hover {

    transform: scale(1.05);
}

.wave {
    width: 100%;
    height: auto;
    margin-top: -163px;
}

section#hero {
    padding-bottom: 40px;
}

.nav_bar {
    width: 100%;
    position: absolute;
    top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}

.nav_bar .navigation {
    list-style: none;
    list-style-type: none;
    float: right;
    width: 100%;
    display: block;
    
}

.nav_bar .navigation ul {
    display: flex;
    list-style: none;
    gap: 100px;
    float: right;
}

.nav_bar .navigation ul a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 100px;
    font-weight: 400;
    float: right;
}

.nav_bar .navigation ul a:hover {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 100px;
    font-weight: 400;
    float: right;
    border-bottom: #ffffff solid 1px;
}

.center {
    display: block;
    align-content: center;
    text-align: center;
}

#hero-2 {
    padding: 200px 50px 200px 50px;
}

.row .col-md-3 {
    text-align: center;
}

#hero-2 h2 {
    font-weight: 900;
}

.line-right {
    border-right: 1px solid #BE8C87;
}

#hero-2 img {
    width: 60px;
    height: auto;
}

#hero-2 h5 {
    font-size: 14px;
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: #606161;
    letter-spacing: 3px;
}
#hero-2 h2{
    color: #C4C4C4;
    font-size: 50px;
}
#hero-2 ul {
    display: flex;
  
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#hero-2 ul li{
padding: 0 60px 0 60px;
}
.center-width {
    display: flex;
    justify-content: center;
}


.bg-img{
    background: url('../img/Asset\ 5@2x1.jpg');
    width: 100%;
    height: 920px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
  
   
    align-content: center;
    padding: 10px;
    padding-left: 300px;
}
#hero-3{
    padding: 0 0 250px 0;
}
#hero-3 h5{
    font-size: 24px;
    font-family: 'Proxima Nova';
    font-weight: 300;
    color: #C4C4C4;
    letter-spacing: 3px;
}
.pad-md-30{
    margin-top: 150px;
}
#hero-3 h2{
    font-size: 48px;
}
#hero-3 p{
    color: #C4C4C4;
    font-size: 21px;
    font-weight: 300;
    width: 520px;
    margin-top: 30px;
}
#hero-3 h3{
    color: #ffffff;
    width: 560px;
    font-size: 38px;
    margin-top: 30px;
    font-weight: 100;
}

#hero-4{
    padding: 0 0 200px 0;
    text-align: center;
}
#hero-4 h5{
    font-weight: 300;
    letter-spacing: 3px;
    color: #606161;
    font-size: 24px;
}
.gradient-text {
    font-size: 50px;
    font-weight: 500;
    
    text-transform: uppercase;
    background: linear-gradient(to right, #e28539, #a15c6c, #86619d, #715eab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
#hero-4 p{
    color: #868787;
    font-size: 22px;
    font-weight: 200;
    
    margin-top: 30px;
}

.carousel {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}
@media (min-width: 768px) {
   .widthspec .col-md-4 {
        flex: 0 0 auto;
        width: 29.333333%;
    }
}

.carousel-content {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.carousel-content img {
    height: 370px;
    object-fit: cover;
    border-radius: 15px;
    width: 340px;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    border-radius: 15px;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-align: left;
}

.carousel-caption h3 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-family: 'Proxima Nova';
    margin-bottom: 0rem;
}

.carousel-caption p {
    font-size: 17px !important;
    color: white !important;
    font-weight: 100 !important;
    margin-top: 0px !important;
    margin-bottom: 0rem !important;
}   

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 40px !important;
    height: 40px !important;
}

/* Left Arrow */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2369539e'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

/* Right Arrow */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2369539e'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}


.carousel-control-prev {
    margin-left: -200px;
    left: 0;
    opacity: 1 !important;
}
.carousel-control-next {
    margin-right: -200px; 
    opacity: 1 !important;
}

.section-wave{
    padding: 0px 0px 200px 0px;
}

.curved-bg{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.curved-bg img{
    border-radius: 10px;
    width: 60%;
    height: 300px;
}

#hero-5{
    padding: 0 0 200px 0;
    text-align: center;
}
.bg-img2{
    background: url('../img/cont-bg.jpg');
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff; 
    align-content: center;
    padding: 20px 10px 20px 10px;
    text-align: left;
   
}
.bg-img2 h2{
    font-size: 50px;
}
.bg-img2 h5 {
    font-size: 24px;
    font-family: 'Proxima Nova';
    font-weight: 300;
    color: #C4C4C4;
    letter-spacing: 3px;
    opacity: 0.7;
}
.bg-img2 p{
    
        color: #C4C4C4;
        font-size: 18px;
        font-weight: 300;
        width: 430px;
        margin-top: 30px;
    
}
input{
    margin-bottom: 20px;
    background-color: rgba(196, 196, 196, 0.5) !important; 
 border: none !important;

    color: #000 !important;
}
select{
    width: 150px !important;
    margin-bottom: 20px;
    background-color: rgba(196, 196, 196, 0.1) !important; 
      color: #fff !important;
      font-weight: 100 !important;
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}
input::placeholder{
    color: #ffffff !important;
    font-weight: 200;
}

 
 /* Ensure carousel-inner handles overflow smoothly */
.carousel-inner {
    position: relative;
    overflow: hidden; /* Keep the overflow hidden for smooth transition */
  }
  
  .carousel-item {
    position: relative;
    z-index: 1;
  }
  
  /* Wrapper that will apply the shadow */
  .card-shadow-wrapper {
    position: relative;
    display: inline-block;
    padding: 10px; /* Adjust padding to give space for the shadow */
    margin: 10px;  /* Adjust margin if needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Apply shadow here */
    border-radius: 15px; /* Match the card's border radius */
     width: 260px !important;
  }
  
  .card-container {
    max-width: 260px !important;
    margin: 0 auto !important;
    background-color: #fff !important;
    padding: 20px !important;
    border-radius: 15px !important;
  }
  

.card-container h2 {
    font-size: 22px !important;    
    font-weight: 600 !important;
    color: #69539E !important;
}
.card-container h5 {
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 1;
    letter-spacing: 0px !important;
}
.card-container img{
    width: 80px !important;
    height: auto !important;
    margin-bottom: 20px !important;
}
.shd .carousel-content{
    overflow: visible !important;
}
.bg-img3{
    background: url('../img/footer.jpg');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff; 
  padding-top: 100px;
  
    text-align: left;
   
}
.bg-img3 p{
    font-size: 1.5rem;
    font-weight: 200;
}
ul{
    list-style: none;
}
.list-p p{
    font-size: 18px;
}
.ico{
    width: 25px;
}
/* Apply basic form-control styles */
.select-control-wrapper{
    width: fit-content;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-logo p{
    font-size: 18px;
    text-align: center;
    margin-right: -45px;
    margin-left: -10px;
    margin-top: 10px;
}
.select-control {
    display: inline-block;
    width: 150px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 200;
    background-color: rgba(196, 196, 196, 0.1) !important; 
    color: #fff;

    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Add focus effect */
.select-control:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.25);
}

/* Remove default arrow */
.select-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}

/* Custom arrow using CSS */
.select-control::-ms-expand {
    display: none;
}

.select-control-wrapper {
    position: relative;
}

/* Create custom arrow */
.select-control-wrapper::after {
    content: '▼';
    font-size: 16px;
    color: #495057;
    position: absolute;
   top: 50%;
    pointer-events: none; /* Prevent interaction with the arrow */
}
.footer-section-social{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section {
    width: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-section-social p{
 font-size: 22px;
}
/* General Mobile Optimization */
@media (max-width: 992px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .nav_bar {
        flex-direction: column;
        top: 0px;
        padding: 20px;
        position: relative;
        padding-top: 0;
    }
    .nav_bar .navigation {
       
        list-style: none;
        list-style-type: none;
        width: 100%;
        display: block;
        align-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .nav_bar .navigation ul {
      
        gap: 10px;
    }
    .logo{
        display: flex;
    justify-content: center;
    }

    .hero-img {
        height: auto;
        padding: 50px 20px;
    }

    .hero-img h3 {
        font-size: 3rem;
    }

    .hero-img h1 {
        font-size: 4rem;
    }

    .hero-img p {
        font-size: 1rem;
    }

    .gradient-btn {
        font-size: 12px;
        padding: 8px 16px;
    }
    .footer-section-social{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .footer-section{
        width: 120px;
     float: left; 
    }
    .footer-logo{
        width: 120px;
        float: left;
    }

}

@media (max-width: 768px) {
    #hero-2 ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #hero-2 ul li {
        flex: 1 1 50%;
        text-align: center;
        padding: 20px;
        border-right: none;
    }
    
    .bg-img {
        padding-left: 20px;
    }
    
    .bg-img h3, .bg-img h2 {
        text-align: center;
    }

    .carousel-content img {
        width: 100%;
        height: auto;
    }

    .carousel-control-prev, .carousel-control-next {
        margin: 0;
    }

    .curved-bg img {
        width: 100%;
        height: auto;
    }
    .gradient-text {
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;
        background: linear-gradient(to right, #e28539, #a15c6c, #86619d, #715eab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .card-container {
        max-width: 100% !important;
        margin: 0 auto !important;
        background-color: #fff !important;
        padding: 20px !important;
        border-radius: 15px !important;
    }
    .carousel {
        width: 100%;
        margin: auto;
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    .footer-logo p {
        font-size: 18px;
        text-align: center;
        margin-right: 5px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .hero-img h3 {
        font-size: 1.5rem;
    }

    .hero-img h1 {
        font-size: 2rem;
    }
    .hero-img ul a li{
        font-size: 10px;
    }
    #hero-3 h5 {
        font-size: 24px;
        font-family: 'Proxima Nova';
        font-weight: 300;
        color: #C4C4C4;
        letter-spacing: 3px;
        text-align: center;
    }
    .hero-img p {
        font-size: 0.9rem;
    }

    #hero-3 p, #hero-3 h3 {
        width: 100%;
        text-align: center;
    }

    .carousel-inner .row {
        flex-direction: column;
        align-items: center;
    }

    .carousel-content {
        margin-bottom: 20px;
    }

    .bg-img3 {
        height: auto;
        padding-top: 50px;
    }
    .bg-img2 {
        height: auto;
        padding-top: 50px;
    }
    .bg-img2 p {
        color: #C4C4C4;
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        margin-top: 30px;
    }
    .bg-img2 h2 {
        font-size: 2.5rem;
    }
    .copyright p {
        font-size: 18px !important;
        text-align: center;
        margin-left: 0px;
    }
    
    .terms {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }
}
